/* font start */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/gloria-hallelujah-v21-latin/gloria-hallelujah-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* font end */
.font200{
  font-size: 200%;
}

/* blockquote start */

/* .blockquote::before {
  font-family: FontAwesome;
  content: '\f10d';
} */

.blockquote {
  font-family: "Gloria Hallelujah", "normal";
}

.attribution {
  font-size: large;
  padding-top: 20px;
}



/* blockquote end */


kbd{
  background-color:gray;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

.btn{
  outline: 1px solid white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* logo start */

.reveal .slide-logo {
  height: 150px !important;
  /* width: 300px !important; */
  max-width: unset !important;
  max-height: unset !important;
}

/* logo end */

#complete{
  background-color: #bef9c6;
  color: #0f4a21;
  border-radius: 2px;
  font-size: 50%;
  padding: 2px;
}

#open{
  background-color: #8efbf7;
  color: #014847;
  border-radius: 2px;
  font-size: 50%;
  padding: 2px;
}

.hl{
  border: 1px solid red;
  padding: 1px;
}

#posit-publish{
  vertical-align: middle;
}

#fig-baratheon-0{
  float: left;
}


#fig-houses img{
  width: 150px;
}


/* svg start */

.graph{
  height: 200px; 
  width: 500px;
}
.svg-hline{
  stroke: #fefce2; 
  stroke-width: 1;
}

.svg-circle{
  stroke: #fefce2;
  fill: #8a8e96;
}

.svg-text{
  font-family: Mono; 
  font-size:20px; 
  fill: #fefce2; 
  dominant-baseline: middle
}
.svg-small{
  font-size:15px; 
}

.svg-gray{
  fill: 2A9D8F
}

/* svg end */